{%extends "./base.html" %}
{%block title%}Visualizador de procesos{%endblock%}
{%block body%}
<h1>Visualizador de procesos</h1>
<div class="row">
    <div class="col-md-8 offset-md-1">
        <h2>Lista de procesos</h2>
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Nombre del proceso</th>
                        <th>Tiempo de creacion</th>
                        <th>Tiempo de rafaga</th>
                    </tr>
                </thead>
                <tbody>
                    {%for id, nombre, llegada, rafaga in procesos%}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{nombre}}</td>
                        <td>{{llegada}}</td>
                        <td>{{rafaga}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-1">
        <h2>Algoritmo FCFS</h2>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID Proceso</th>
                    <th class="col">Tiempo de creacion</th>
                    <th>Tiempo rafaga</th>
                    <th>Tiempo de espera</th>
                    <th>Tiempo de respuesta</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for proceso in resultados%}
                <tr>
                    <td class="col">{{proceso.id}}</td>
                    <td class="col">{{proceso.tiempoLlegada}}</td>
                    <td class="col">{{proceso.tiempoRafaga}}</td>
                    <td class="col">{{proceso.tiempoEspera}}</td>
                    <td class="col">{{proceso.tiempoRespuesta}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tiempo de Espera Promedio</h5>
                        <p class="card-text">{{tiempos[0]}} milisegundos</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Respuesta Promedio</h5>
                        <p class="card-text">{{tiempos[1]}} milisegundos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        

{%endblock%}